<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McCheap</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>

    
    <div id="app">
        <div class="container">
            <utilisateur v-bind:user="user"></utilisateur>
            <div class="row">
                <fiche-produit v-for="produit in produits" v-bind:produit="produit" v-on:commande_passee="commander" v-on:price_pushed="pushPrice(produit)" ></fiche-produit>
            </div>
            <div class="row" v-if="commands.length > 0">
                <h1 v-bind:class="affichage">Commandes</h1>
                <ul>
                    <fiche-commande v-for="command in commands" v-bind:command="command" v-on:command_removed="remove"></fiche-commande>
                </ul>
                <div class="row" v-if="commands.length > 0">
                    <button class="btn btn-primary" v-on:click="getTotal">Total</button>
                    <p v-model="total">{{ total }}</p>
                </div>
            </div>
        </div>
    </div>
    



    <script>

        Vue.component('utilisateur', {
            template: `<div class="row">
                <p class="h-100 bg-dark text-white p-5">
                    user is {{ user }}
                </p>
                <input type="text" placeholder="username" v-model="user">
                </div>`,
            props: ['user']
        });

        Vue.component('fiche-produit', {
            template: `<div class="col-3" >
                <p class="h-100 bg-dark text-white center">
                    {{ produit }}
                    <br>
                    <button class="btn btn-primary" v-on:click="passerCommande(produit);pushPrice(produit)">Commander</button>
                </p>
                </div>`,
            props: ["produit"],
            methods: {
                passerCommande: function (produit){
                    this.$emit('commande_passee', produit);
                },
                pushPrice: function(produit){
                    this.$emit('price_pushed', produit);
                }
            }
        });

        Vue.component('fiche-commande', {
            template: `
                    <li>
                        <p>
                            {{ command }}
                            <button class="btn btn-primary align-right" v-on:click="removeCommand(command)">Remove</button>
                        </p>
                    </li>`,
            props: ["command", "price"],
            methods: {
                removeCommand: function(command){
                    this.$emit('command_removed', command);
                },
            }
        })





        var app = new Vue({
            el: "#app",
            data: {
                user: "",
                produits: ["Pizza", "Hamburger", "Cheeseburger", "Tacos"],
                prices: [10, 5, 4, 8],
                registered_prices: [],
                total: 0,
                commands: [],
                affichage: "display-4",
            },
            methods: {
                commander: function(produit){
                    this.commands.push(produit);
                },
                remove: function(command){
                    var index = this.commands.indexOf(command);
                    this.commands.splice(index, 1);
                    this.registered_prices.splice(index, 1);
                },
                getPrice: function(produit){
                    var index = this.commands.indexOf(produit);
                    return this.prices[index] + "€";
                },
                pushPrice: function(produit){
                    var index = this.produits.indexOf(produit);
                    this.registered_prices.push(this.prices[index]);
                },
                getTotal: function(){
                    var total = 0;

                    total = this.registered_prices.reduce(function(acc, val) { return acc + val; }, 0)
                    this.total = total;
                }
            }
        })
    </script>


</body>
</html>