.container-support {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    width: 76.4%;
    height: 100%;
    margin: auto;
  }
  
  .support { 
      grid-area: 1 / 1 / 2 / 3; 
      background-color: darkgrey;
    }
  
  .img { 
      width: 500px;
      grid-area: 1 / 1 / 2 / 2; 
    }
  
  .infos { 
      grid-area: 1 / 2 / 2 / 3; 
      font-size: 50px;
      margin: auto;
    }
  
  .img-support {
      width:500px;
  }