<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>
    <div id="app">
        <div class="chat">
            <input type="text" class="textbox" v-model="message">
            <button v-on:click="sendMessage(message)" class="btn btn-primary" type="submit">Send</button>
        </div>
        <div class="messages">
            <p class="msg" v-for="message in messages">{{ message }}</p>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                messages: [],
                message: "",
            },
            methods: {
                sendMessage: function(message){
                    this.messages.push(message);
                    console.log(this.messages)
                }
            }
        })
    </script>
</body>
</html>