.info {
    font-size: 20px;
}

.btn {
    margin: 5px;
}
@media screen and (min-width:900px) {
    
    .carousel {
        width:500px;
        margin: auto;
    }
    .corps { 
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: 1fr; 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        }
    .div1 { 
        grid-area: 1 / 1 / 2 / 2; 
        background-color: darkslategrey;
    }

    .div2 { 
        grid-area: 1 / 2 / 2 / 3;
    } 
}

@media screen and (max-width:900px) and (min-width:600px){
    .carousel {
        width:300px;
        margin: auto;
    }
}
