
@media screen and (min-width:900px) {
    .container-cal {
        display: grid; 
        grid-auto-columns: 1fr 1fr 1fr; 
        grid-auto-rows: 1fr; 
        gap: 0px 0px;
        background-color: darkgrey;
      }
    }

    @media screen and(min-width:600px) and (max-width:900px) {
        .container-cal {
            display: grid; 
            grid-auto-columns: 1fr 1fr; 
            grid-auto-rows: 1fr; 
            gap: 0px 0px;
            background-color: darkgrey;
          }
    }

    @media screen and(min-width:300px) and (max-width:600px) {
        .container-cal {
            display: grid; 
            grid-auto-columns: 1fr; 
            grid-auto-rows: 1fr; 
            gap: 0px 0px;
            background-color: darkgrey;
          }
    }


.datetime {
    padding: 10px;
    border: solid  2px black;
    background-color: darkgrey;
}