.subnavbar {
    background-color: darkgrey;
    padding: 2%;
}

.text {
    display: inline-block;
    color: #4d4d4d;
}

.title {
    font-size: 30px;
    margin-right: 50%;
}

.contact {
    font-size: 15px;
}